* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorHeader: #98a8f8;
  --colorBotonHover: #ccd9f9;
  --colorBotonDownloadHover: #cdfcf6;
  --colorContainerMeme: #faf7f0;
  --colorHeaderDarkMode: #171010;
  --colorPanelDarkMode: #2b2b2b;
  --border-radius: 0.3em;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./assets/fondo-memes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* -----> HEADER <-----*/

header {
  background-color: var(--colorHeader);
  text-align: center;
  height: 150px;
  margin-bottom: 30px;
}

.title {
  padding-top: 30px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.btn-header {
  margin: 20px 10px;
  padding: 5px 15px;
  border: none;
  background-color: transparent;
}

.btn-header:hover,
.btn-download:hover {
  background-color: var(--colorBotonHover);
  border-radius: var(--border-radius);
  color: var(--colorHeaderDarkMode);
}



/* -----> MAIN <-----*/

.section-meme {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
}

#container-meme {
  background-color: var(--colorContainerMeme);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-text,
.bottom-text {
  padding: 15px; 
  text-align: center;
  word-wrap: break-word;
}

.cont-img {
  background-color: var(--colorHeader);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-download {
  border-radius: var(--border-radius);
  background-color: var(--colorHeader);
  margin: 20px 10px;
  padding: 10px 15px;
  border: 0;
}

/* -----> SECTION MODAL <-----*/

.section-modal-img,
.section-modal-text {
  width: 280px;
  height: 100vh;
  background-color: var(--colorHeader);
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
}

.btn-close-img,
.btn-close-text {
  margin: 1em;
  background-color: var(--colorBotonHover);
  font-size: 1em;
  font-weight: bold;
  width: 1em;
  height: 1em;
  padding: 5px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 0;
}

.title-modal {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 14px;
}

form * {
  margin: 0.1em;
}

.label-url {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 13px;
  }
  
input,
select, textarea {
  border: 0;
  background-color: var(--colorBotonHover);
  outline: none;
  border-radius: var(--border-radius);
  height: 2.5em;
}

#url, #input-txt-top, #input-txt-bottom, #fonts, #input-font-size, .espaciado, #line-spacing{
  padding: 5px 10px;
}

#url:hover,
.btn-reset:hover,
.cont-color:hover,
#adjust:hover,
input:hover,
select:hover,
.btn-aling:hover,
.btn-outline:hover,
.btn-close:hover, textarea:hover, .btn-close-img:hover,.btn-close-text:hover {
  background: var(--colorContainerMeme);
}

.cont-background{
  display: flex;
}

.cont-color{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: var(--colorBotonHover);
  border-radius: var(--border-radius);
  margin-right: 5px;
}


/* cambio de formato de input color a redondeado*/

input[type="color"] {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

 /* fin de cambio de formato de input color a redondeado */

#adjust {
  background-color: var(--colorBotonHover);
  border: none;
  border-radius: var(--border-radius);
}
.filters {
  font-size: 12px;
}

.cont-filters {
  display: flex;
  flex-direction: column;
}

.btn-reset-img {
  width: 80%;
  margin: 1.5em auto;
}

.label-checkbox {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.input-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.cont-font-size-text-aling {
  display: flex;
}

#input-font-size {
  width: 50%;
}

.cont-btns-text-aling {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.btn-aling,
.btn-outline {
  width: 30%;
  height: 2.3em;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--colorBotonHover);
}

.cont-background-text{
  display: flex;
  height: 2.5em;
}

.cont-color-text-background{
    display: flex;
}

.cont-color-text, .cont-background-text{
    display: flex;
    flex-direction: column;
}

.cont-input-color, .cont-input-background-color{
    display: flex;
    align-items: center;
    background-color: var(--colorBotonHover);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 6px;

}

/* -----> Estilos para utilizar con Javascript <-----*/

.oculto {
  display: none;
}

.contornoOscuroTexto{
  -webkit-text-stroke: 1px black;
}

.contornoClaroTexto{
  -webkit-text-stroke: 1px white;
}

/* -----> Modo oscuro <-----*/

.darkMode {
  background-color: var(--colorHeaderDarkMode);
  color: var(--colorContainerMeme);
}

.darkModeBody {
  background-image: url(./assets/fondo-memes-oscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.darkModeSpan{
    color: var(--colorHeaderDarkMode);
}

/* -----> RESPONSIVE <-----*/

/* -----> RESPONSIVE TABLET<-----*/

@media (max-width: 780px) {
  .title {
    font-size: 28px;
  }

  #container-meme {
    width: 60%;
    height: 400px;
  }

  .top-text,
  .bottom-text {
    font-size: 20px;
  }
}

/* -----> RESPONSIVE MOVIL<-----*/

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  #container-meme {
    width: 90%;
  }

  button {
    font-size: 14px;
    margin: 10 px5px;
    padding: 5px;
  }

}
